body {
	background-color: rgba(235, 235, 235);
}

.cards .card {
	margin: 30px 50px 30px 50px;
	width: auto;
}

#grid-container {
	background-color: rgba(250, 250, 250);
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 10vh minmax(85vh,auto) 5vh;
}

header {
	width: 100%;
	text-align: center;
	background-color: rgb(220, 220, 220);
}

footer {
	width: 100%;
	background-color: rgb(220, 220, 220);
}
