<div id="task-container" class="task-container">
	<!-- new task -->
	<!-- https://fontawesome.com/icons/plus-square?style=regular -->
	<div class="card">
		<div class="card-body">
			<h5 class="card-title">Create a task</h5>
			<form action="#">
				<input id="new-task-title" type="text" name="title" placeholder="task title here" />
				<br/>
				<input id="new-task-body" type="text" name="body" placeholder="task details here" />
				<br/>
				<input id="new-task-author" type="text" name="author" placeholder="my name" />
				<br/>
				<input type="button" value="create" onclick="createNewTask()"/>
			</form>
		</div>
	</div>
	<!-- task list -->
	{{#each tasks}}
	<div class="card">
		<div class="card-body">
			<h5 class="card-title">{{ this.title }}</h5>
			<h3 class="delete-X" onclick="deleteTask(this, '{{ this._id }}')">X</h3>
			<p class="card-text">{{ this.body }}</p>
			<p class="card-text">Author: {{ this.author }}</p>
		</div>
	</div>
	{{/each}}
</div>
