<!-- todo: reduce duplication by re-using this file in index.hbs, passing this from each as a Partial Parameter, then task.title -->
<div class="card">
	<div class="card-body">
		<h5 class="card-title">{{ title }}</h5>
		<h3 class="delete-X" onclick="deleteTask(this, '{{ this._id }}')">X</h3>
		<p class="card-text">{{ body }}</p>
		<p class="card-text">Author: {{ author }}</p>
	</div>
</div>
